<nav>
  <h1 class="display-5 mb-4 mt-4">Mark Toys PRODUCTS</h1>
  <div class="d-flex">
    <a href="/products/show_product_form" class="btn btn-success me-4 mt-4">Add Product</a>
    <a href="/products/all_products" class="btn btn-success me-4 mt-4">Show All Products</a>
    <a href="/users" class="btn btn-warning me-4 mt-4">Go To Users API</a>
  </div>
</nav>