<nav>
  <h1 class="display-5 mb-4 mt-4">Mark Toys USERS</h1>
  <div class="d-flex">
    <a href="/users/show_user_form" class="btn btn-success me-4 mt-4">Add User</a>
    <a href="/users/all_users" class="btn btn-success me-4 mt-4">Show All Users</a>
    <a href="/products" class="btn btn-warning me-4 mt-4">Go To Products API</a>
  </div>
</nav>