<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <title><%= title %> NOT FOUND</title>
  <style>
    img {
      height: 80vh;
    }
    nav {
      height: 20vh;
      margin-bottom: 20px;;
    }
    /* .container {
      margin:20px;
      display: flex;
    } */
  </style>
</head>

<body>
  <div class="container">
    <nav>
      <h1 class="display-5 mb-3 mt-3">Mark Toys <%= title %></h1>
      <div class="d-flex">
        <a href="/users" class="btn btn-warning me-4 mt-4">Go To Users API</a>
        <a href="/products" class="btn btn-warning me-4 mt-4">Go To Products API</a>
      </div>
    </nav>
  </div>
  <div class="container">
    <img src=https://wpklik.com/wp-content/uploads/2019/03/A-404-Page-Best-Practices-and-Design-Inspiration.jpg
      alt="404 PAGE NOT FOUND">
  </div>
</body>

</html>